:root {
    --blue: rgb(0, 119, 130);
    --gray-bg: rgb(245, 245, 245);
    --gray-thinborder: rgb(230, 230, 230);
    --gray-border: rgb(200, 200, 200);
    --gray-text: gray;
    --transparent: rgba(0, 0, 0, 0);
}

@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter_18pt-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}



h1 {
    font-size: 1.6em;
    font-weight: normal;
}

h2 {
    font-size: 1em;
    font-weight: normal;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
    color: var(--blue);
}

h4 {
    font-size: 1em;
    font-weight: normal;
    color: var(--blue);
}

p {
    color: var(--gray-text);
}



a:-webkit-any-link {
    text-decoration: none;
    color: var(--blue);
}